* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    }



body {
    display: grid;
    font-family: 'Poppins', sans-serif;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
    "nav main aside"
     "footer footer footer";
    
}

header {
    text-align: center;
    background-color: blue;
    color: white;
    padding: 20px;
    grid-area: header;
    }

    nav {
   margin: 0 0 0 10px;

    }
    nav ui {
   
    grid-area: nav;
    }

    nav li {
    margin: 3px;
    list-style-type: none;
    }

    nav li:hover {
    margin: 10px;
    background-color: #0099cc;
    }
    main {
    text-align: center;
    background-color: rgba(83, 0, 139, 0.514);
    color: white;
    grid-area: main;
    }

    /* This is the start of contact us*/
    * {
        box-sizing: border-box;
      }
      
      form {
        padding: 1em;
        background: #f9f9f9;
        border: 1px solid #c1c1c1;
        margin-top: 2rem;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
      }
      form input {
        margin-bottom: 1rem;
        background: #fff;
        border: 1px solid #9c9c9c;
      }
      form button {
        background: lightgrey;
        padding: 0.7em;
        border: 0;
      }

/*       When you hover ove the form box or the submit button you will see that it changes to yellow */      
      
    form button:hover {
        background: gold;
      }
      
      label {
        text-align: center;
        color: rgb(255, 0, 0);
        display: block;
        padding: 0.5em 1.5em 0.5em 0;
      }

      @media (min-width: 400px) {
        form {
          overflow: hidden;
        }
      
      input {
        width: 100%;
        padding: 0.7em;
        margin-bottom: 0.5rem;
      }
      input:focus {
        outline: 3px solid gold;
      }
      
      
     input {
          float: center;
          width: calc(100% - 200px);
        }

       label {
            float: left;
            width: 200px;
          }
      
    button {
          float: center;
          width: calc(100% - 200px);
        }
      }

/* End of contact us page
 */
    aside {
    background-color: lightgreen;
    grid-area: aside;
    background-color: #33b5e5;
    padding: 14px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
 }

    footer {
    background-color: darkgreen;
    color: white;
    grid-area: footer;
    }


