* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    background-color: #259aaf;
    }

      

body {
    display: grid;
    font-family: 'Poppins', sans-serif;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header header"
    "nav main aside"
     "footer footer footer";
     min-height: 100vh;    
}





header {
    text-align: center;
    color: white;
    padding: 20px;
    grid-area: header;
    }

    nav {
   margin: 0 0 0 10px;

    }
    nav ui {
   
    grid-area: nav;
    }

    nav li {
    font-size: large;
    margin: 3px;
    list-style-type: none;
    }

    nav li:hover {
    margin: 10px;
    }


    /* Here starts the main conent of the page  */
    main {
    text-decoration: none;
    text-align: center;
    color: white;
    grid-area: main;

   }


   /* This is where the CSS For CV page starts */
    
   .cv {
text-align: left;
    font-size: 18px;
    color: black;
    text-decoration: none;

    }



/* all the heading three will have these features */
    h3 
    {
        font-size: 18px;
        color: rgb(255, 255, 255);
        text-align: center;
    
        }



    /* This is the start of contact us*/
    * {
        box-sizing: border-box;
      }
      
      form {
        padding: 1em;
        background: #f9f9f9;
        border: 1px solid #c1c1c1;
        margin-top: 2rem;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
      }
      form input {
        margin-bottom: 1rem;
        background: #fff;
        border: 1px solid #9c9c9c;
      }
      form button {
        background: lightgrey;
        padding: 0.7em;
        border: 0;
      }

/*       When you hover ove the form box or the submit button you will see that it changes to gold */      
      
    form button:hover {
        background: gold;
      }
      
      label {
        text-align: center;
        color: rgb(255, 255, 255);
        display: block;
        padding: 0.5em 1.5em 0.5em 0;
      }

      @media (min-width: 400px) {
        form {
          overflow: hidden;
        }
      
      input {
        width: 100%;
        padding: 0.7em;
        margin-bottom: 0.5rem;
      }
      input:focus {
        outline: 3px solid gold;
      }
      
      
     input {
          float: center;
          width: calc(100% - 200px);
        }

       label {
            float: left;
            width: 200px;
          }
      
    button {
          float: center;
          width: calc(100% - 200px);
        }
      }



 
/* End of contact us page
 */
    aside {
    grid-area: aside;
    padding: 14px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
 }

    footer {
    color: white;
    grid-area: footer;

    }


